body{
  font-family: Montserrat;
  font-size: 15px;
}

/* CSS GRID */

.wrapper {
display: grid;
grid-template-columns: 2fr 2fr;
grid-template-rows: minmax(500px auto);
grid-gap: 1em;
}

.navigation, .kontaktside, .faq{
  /* background: #eee;
  border: 1px solid black; */
}

.logo, .carousel-container, .kort, .footsie{
  /* background: #ddd;
  border: 1px solid black; */
}

.navigation{
  grid-column: 1/-1;
  grid-row: 1/2;
}

.carousel-container {
  grid-column: 1/-1;
  grid-row: 1/2;
  max-width: 100%;
  max-height: 700px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: -10;
}

.kontaktside{
  grid-column: 1;
  grid-row: 3;
}

.kort{
  grid-column: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.faq{
  grid-column: 1;
  grid-row: 4;
}

.footsie{
  grid-row-start: 5;
  grid-column: 1/-1;
  font-size: 12px;
  text-align: center;
  margin-top: 2%;
}

/* SLIDESHOW DO NOT PILLE
SLIDESHOW DO NOT PILLE
SLIDESHOW DO NOT PILLE
SLIDESHOW DO NOT PILLE
SLIDESHOW DO NOT PILLE
SLIDESHOW DO NOT PILLE
SLIDESHOW DO NOT PILLE */







/* Container med billeder */
.mySlides{
  text-align: center;
}

/* Tæller der viser hvilket billede vi er på */
.numbertext{
  position: absolute;
  padding: 8px 12px;
  color: #f2f2f2;
  font-size: 12px;
}

/* Tekst til selve billedet */
.text{
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  position: relative;
  bottom: 35px;
}

img{
  max-width: 100%;

}

/* Container til prikkerne */
.dots-container{
  text-align: center;
  /* margin-top: -5px; */
}

.dot{
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: #f2f2f2;
  border-radius: 50%;
}

/* Den aktive knap (Farven på den) */
.active{
  background-color: #000000;
}

/* Slideshow animation */
.fade {
  -webkit-animation-name: fade;
  -webit-animation-duration: 2s;
  -webkite-animation-timing-function: ease-out;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes fade{
  from {opacity: 0.7}
  to {opacity: 1.0}
}

/*pile */
#prevBtn{
  position: absolute;
  top: 45%;
  z-index: 10;
  left: 2%;
  font-size: 30px;
  color: #ffffff;
  opacity: 0.7;

  cursor: pointer;
}

#nextBtn{
  position: absolute;
  top: 45%;
  z-index: 10;
  right: 2%;
  justify-content: flex-start;
  font-size: 30px;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
}


* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

nav ul {
list-style-type: none;
outline: none;
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
    background-color: #000;
	background: rgba(000, 000, 000, 0.5);
}

nav li {
  float: right;
  position: relative;
  right: 10%;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav li a:hover {
  opacity: 0.3;
}

/*Sociale Medie Ikoner*/

.socials {
padding: 30px 20px;
float: right;
margin-top: -5.7%;
}

.fab {
margin: 0px 30px 0 0;
font-size: 18px;
color: white;
}

.fab:hover {
opacity: 0.6;
}


/*logo*/

.logo {
	float: left;
	position: absolute;
	padding: 0px 20px;

}

.faq{
  margin-left: 13%;
  /* margin-top: 33%; */
  margin-top: -10%;
}

.faq h2 {
  font-weight: normal;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  color: #444;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: lighter;
  border-bottom: 2px solid black;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activeList, .collapsible:hover {
  background-color: #f1f1f1;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0px 0px;
  overflow: hidden;
  background-color: white;
  font-weight: lighter;
  max-height: 0;
  width: 70%;
  transition: max-height 0.2s ease-out;
}

/* Add + and - icons */
.collapsible:after {
  content: '+'; /* Unicode character for "plus" sign (+) */
  color: white;
  background-color: #429697;
  padding: 1px 10px;
  padding-top: 0px;
  font-size: 29px;
  font-weight: lighter;
  float: left;
  margin-right: 30px;
  margin-left: -6px;
  margin-top: -7px;
}

.activeList:after {
  content: "-"; /* Unicode character for "minus" sign (-) */
  color: white;
  background-color: #429697;
  padding: 1px 12.4px;
  padding-top: 0px;
  font-size: 29px;
  font-weight: lighter;
  float: left;
  margin-right: 30.4px;
  margin-left: -6px;
}

/* KONTAKTFORM - MADS */
  input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


main {
  margin-left: 13%;
  width: 70%;
}

main p{
  margin-top: 5%;
  margin-bottom: 5%;
}

h1{
  font-size: 32px;
  font-weight: 1000;
}

button[type=send] {
  background-color: #429698;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

button[type=send]:hover {
  background-color: #8EBBBC;
}

textarea {
  height: 200px;

}






/* KORT
KORT
KORT */


.kontaktoplysninger{
  margin-top: 0%;
  margin-bottom: 2%;
}
.kort {
  background-color: #f1f1f1;
  width: 70%;
  height: 100%;
  float: right;
  font-weight: lighter;
  margin-bottom: 6%;
  margin-left: 20%;
}




aside h2 {
  font-weight: normal;
  padding-left: 6%;
  margin-bottom: 0%;
  margin-top: 8%;
  padding-top: 3%;
}
.info {
  list-style-type: none;
  margin-left: 6%;
  margin-top: 3%;
  margin-bottom: 8%;
}

.info li{
  margin-bottom: 4%;
}

.some {
  list-style-type: none;
  padding-left: 6%;
  float: left;
  padding-right: 65%;
  margin-top: 3%;
}

.some .fab {
margin: 10px 30px 20px 0;
font-size: 28px;
color: #000000;
}

.some .fa-instagram{
margin-right: 22px;
}

.some .fa-facebook-f{
  margin-right: 28px;
  font-size: 30px;
  margin-bottom: 45%;
}


.fab:hover {
opacity: 0.6;
}

.some a:hover {
opacity: 0.6;
}

aside a {
  text-decoration: none;
  color: #000;
}

aside p {
  padding-top: 15px;
  padding-left: 6%;
}


.findos{
  margin-top: 20%;
  margin-bottom: -2%;
}

.map {
  margin: 6%;
  position:relative;
  text-align:right;
  height:431px;
  width:431px;
}
